<div class="container">
    <div class="row"> 
        <center>
        <h2>BioCAsia 2025: <a href="https://www.abacbs.org/abacbs-2025-workshops" target="_blank">Call for Workshops </a></h3><br>
        <h3>Registration is managed through the <a href="https://www.abacbs.org/abacbs2025" target="_blank">ABACBS conference</a></h3><br>
        <h3>BioCAsia 2025 will be held in <a href="https://maps.app.goo.gl/X3QLaVrq5iaZEDQi7" target="_blank">Adelaide, South Australia</a></h3>
        <h4 style="color: gray;"> (Location: Flinders University Festival Plaza)</h4>
        <p style="color: gray; text-align: justify; font-size: 17px; line-height: 2;">
            </b></br>
            The Bioconductor Asia 2025 conference aims to bring together researchers to exchange scientific knowledge and foster collaboration within the bioinformatics community across the Asia-Pacific region and beyond.
This year, the conference will feature exclusively hands-on workshops, focusing on R and Bioconductor. These interactive sessions are designed to advance education and training through practical skill development and active learning.
        </p>
        </center>
    </div>

    <div class="row">
        <table style="width:100%">
            <tr>
                <th><h4></br>Key dates:<br><br></h4></th>
            </tr>
            <tr>
                <td>
                    <style>
                        ul.event-list li {
                            margin-bottom: 20px; font-size: 16px; /* Adjust the value as needed */
                        }
                    </style>
                    <ul class="event-list">
                        <li><b>July 4, 2025</b>: Call for Workshops open through ABACBS</li>
                        <li><b>July 8, 2025</b>: Registration opens</li>
                        <li><b>August 1, 2025</b>: Call for Workshops close</li>
                        <li><b>September 5, 2025</b>: Notification of abstract decision</li>
                        <li><b>Nov 27, 2025</b>: BioCAsia 2025 conference</li>
                        <br>
                    </ul>
                </td>
            </tr>
        </table>
    </div>

            </div>
        </div>
    </div>
    <br><br>
</div>